@model S3.Models.S3Document

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>S3Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
         
                <input type="file" name="file" class="form-control" />
                
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
  <h1>@ViewBag.result</h1>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
